.flex,
[class*=flex-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.flex.flex-row,
[class*=flex-].flex-row {
  flex-direction: row;
}
.flex.flex-col,
[class*=flex-].flex-col {
  flex-direction: column;
}
.flex.flex-row-reverse,
[class*=flex-].flex-row-reverse {
  flex-direction: row-reverse;
}
.flex.flex-col-reverse,
[class*=flex-].flex-col-reverse {
  flex-direction: column-reverse;
}
.flex .left,
[class*=flex-] .left {
  margin-right: auto;
}
.flex .right,
[class*=flex-] .right {
  margin-left: auto;
}

.flex-end {
  justify-content: flex-end;
}

.flex-grow-children > * {
  flex-grow: 1;
}

.flex-shrink-children > * {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-start {
  justify-content: flex-start;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.justify-center-children > * {
  justify-content: center;
  display: flex;
}

.vertical-center-children > * {
  align-items: center;
  display: flex;
}

.inline-flex,
.flex.inline-flex-children > * {
  display: inline-flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(12, 1fr);
}
.grid[columns] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(12, 1fr);
}
.grid.gap, .grid[gap] {
  grid-gap: 10px;
}
.grid.no-gap, .grid[no-gap] {
  grid-gap: 0;
}

.grid.columns-24,
.grid[columns="24"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(24, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-24 > *,
.grid[columns="24"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-23,
.grid[columns="23"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(23, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-23 > *,
.grid[columns="23"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-22,
.grid[columns="22"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(22, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-22 > *,
.grid[columns="22"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-21,
.grid[columns="21"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(21, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-21 > *,
.grid[columns="21"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-20,
.grid[columns="20"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(20, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-20 > *,
.grid[columns="20"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-19,
.grid[columns="19"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(19, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-19 > *,
.grid[columns="19"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-18,
.grid[columns="18"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(18, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-18 > *,
.grid[columns="18"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-17,
.grid[columns="17"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(17, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-17 > *,
.grid[columns="17"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-16,
.grid[columns="16"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(16, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-16 > *,
.grid[columns="16"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-15,
.grid[columns="15"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(15, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-15 > *,
.grid[columns="15"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-14,
.grid[columns="14"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(14, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-14 > *,
.grid[columns="14"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-13,
.grid[columns="13"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(13, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-13 > *,
.grid[columns="13"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-12,
.grid[columns="12"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(12, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-12 > *,
.grid[columns="12"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-11,
.grid[columns="11"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(11, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-11 > *,
.grid[columns="11"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-10,
.grid[columns="10"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(10, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-10 > *,
.grid[columns="10"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-9,
.grid[columns="9"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(9, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-9 > *,
.grid[columns="9"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-8,
.grid[columns="8"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(8, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-8 > *,
.grid[columns="8"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-7,
.grid[columns="7"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(7, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-7 > *,
.grid[columns="7"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-6,
.grid[columns="6"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(6, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-6 > *,
.grid[columns="6"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-5,
.grid[columns="5"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(5, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-5 > *,
.grid[columns="5"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-4,
.grid[columns="4"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(4, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-4 > *,
.grid[columns="4"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-3,
.grid[columns="3"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(3, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-3 > *,
.grid[columns="3"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-2,
.grid[columns="2"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(2, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-2 > *,
.grid[columns="2"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid.columns-1,
.grid[columns="1"] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(1, 1fr);
  /*& > * {
  	grid-column: auto / span $span;
  }*/
}
.grid.columns-1 > *,
.grid[columns="1"] > * {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid > *.span-1 {
  grid-column: auto/span 1;
  -ms-grid-column-span: 1;
}

.grid > *.span-2 {
  grid-column: auto/span 2;
  -ms-grid-column-span: 2;
}

.grid > *.span-3 {
  grid-column: auto/span 3;
  -ms-grid-column-span: 3;
}

.grid > *.span-4 {
  grid-column: auto/span 4;
  -ms-grid-column-span: 4;
}

.grid > *.span-5 {
  grid-column: auto/span 5;
  -ms-grid-column-span: 5;
}

.grid > *.span-6 {
  grid-column: auto/span 6;
  -ms-grid-column-span: 6;
}

.grid > *.span-7 {
  grid-column: auto/span 7;
  -ms-grid-column-span: 7;
}

.grid > *.span-8 {
  grid-column: auto/span 8;
  -ms-grid-column-span: 8;
}

.grid > *.span-9 {
  grid-column: auto/span 9;
  -ms-grid-column-span: 9;
}

.grid > *.span-10 {
  grid-column: auto/span 10;
  -ms-grid-column-span: 10;
}

.grid > *.span-11 {
  grid-column: auto/span 11;
  -ms-grid-column-span: 11;
}

.grid > *.span-12 {
  grid-column: auto/span 12;
  -ms-grid-column-span: 12;
}

.grid > *.span-13 {
  grid-column: auto/span 13;
  -ms-grid-column-span: 13;
}

.grid > *.span-14 {
  grid-column: auto/span 14;
  -ms-grid-column-span: 14;
}

.grid > *.span-15 {
  grid-column: auto/span 15;
  -ms-grid-column-span: 15;
}

.grid > *.span-16 {
  grid-column: auto/span 16;
  -ms-grid-column-span: 16;
}

.grid > *.span-17 {
  grid-column: auto/span 17;
  -ms-grid-column-span: 17;
}

.grid > *.span-18 {
  grid-column: auto/span 18;
  -ms-grid-column-span: 18;
}

.grid > *.span-19 {
  grid-column: auto/span 19;
  -ms-grid-column-span: 19;
}

.grid > *.span-20 {
  grid-column: auto/span 20;
  -ms-grid-column-span: 20;
}

.grid > *.span-21 {
  grid-column: auto/span 21;
  -ms-grid-column-span: 21;
}

.grid > *.span-22 {
  grid-column: auto/span 22;
  -ms-grid-column-span: 22;
}

.grid > *.span-23 {
  grid-column: auto/span 23;
  -ms-grid-column-span: 23;
}

.grid > *.span-24 {
  grid-column: auto/span 24;
  -ms-grid-column-span: 24;
}

.grid > .span-all {
  grid-column-start: 1;
  grid-column-end: -1;
}

#nav-menu-popup .nav-menu-body {
  background-color: #fff;
}
#nav-menu-popup .nav-menu-body li.nav-menu-item > .nav-menu-item-content > a {
  padding: 12px;
}

.dropdown .dropdown-menu li {
  text-align: left !important;
  padding: 1em !important;
}

/*# sourceMappingURL=style.css.map */
