#nav-menu-popup {
	.nav-menu-body {
		background-color: #fff !important;

		li.nav-menu-item {
			& > .nav-menu-item-content {
				& > a {
					padding: 12px !important;

					&:hover {
						color: var(--primary) !important;
					}
				}
			}

			&.dropdown {
				ul {
					li {
						text-align: left !important;
						padding: 0 !important;

						a {
							padding: 12px !important;

							&:hover {
								color: var(--primary) !important;
							}
						}
					}
				}
			}
		}
	}
}